Use Below code for Installation

pip install lazypredict

# Loan Price prediction

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving loanpred_train.csv to loanpred_train.csv

In [3]:
df = pd.read_csv("loanpred_train.csv")
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [4]:
df['Loan_Status'] = df['Loan_Status'].map({'Y':1 ,'N':0})

In [5]:
df.head(10)

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           1
1  LP001003   Male     Yes  ...            1.0         Rural           0
2  LP001005   Male     Yes  ...            1.0         Urban           1
3  LP001006   Male     Yes  ...            1.0         Urban           1
4  LP001008   Male      No  ...            1.0         Urban           1
5  LP001011   Male     Yes  ...            1.0         Urban           1
6  LP001013   Male     Yes  ...            1.0         Urban           1
7  LP001014   Male     Yes  ...            0.0     Semiurban           0
8  LP001018   Male     Yes  ...            1.0         Urban           1
9  LP001020   Male     Yes  ...            1.0     Semiurban           0

[10 rows x 13 columns]

In [6]:
X = df.drop(['Loan_ID', 'Loan_Status'], axis = 1)
y = df.Loan_Status

In [7]:
import lazypredict
from lazypredict.Supervised import LazyClassifier

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.30,random_state =123)

In [9]:
lp = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = lp.fit(X_train, X_test, y_train, y_test)

100%|██████████| 29/29 [00:02<00:00, 13.53it/s]

In [10]:
print(models)

                               Accuracy  ...  Time Taken
Model                                    ...
BaggingClassifier                  0.77  ...        0.07
Perceptron                         0.70  ...        0.03
LogisticRegression                 0.78  ...        0.05
LinearSVC                          0.78  ...        0.09
CalibratedClassifierCV             0.78  ...        0.17
SGDClassifier                      0.78  ...        0.09
RidgeClassifierCV                  0.78  ...        0.07
RidgeClassifier                    0.78  ...        0.04
LinearDiscriminantAnalysis         0.78  ...        0.07
NearestCentroid                    0.78  ...        0.04
BernoulliNB                        0.77  ...        0.03
ExtraTreesClassifier               0.76  ...        0.18
NuSVC                              0.77  ...        0.07
RandomForestClassifier             0.76  ...        0.23
SVC                                0.77  ...        0.05
KNeighborsClassifier               0.76  ...        0.04
LGBMClassifier                     0.74  ...        0.07
AdaBoostClassifier                 0.74  ...        0.16
XGBClassifier                      0.73  ...        0.21
LabelSpreading                     0.71  ...        0.06
LabelPropagation                   0.71  ...        0.05
ExtraTreeClassifier                0.69  ...        0.03
DecisionTreeClassifier             0.67  ...        0.03
PassiveAggressiveClassifier        0.57  ...        0.03
GaussianNB                         0.35  ...        0.04
QuadraticDiscriminantAnalysis      0.56  ...        0.04
DummyClassifier                    0.55  ...        0.03

[27 rows x 5 columns]

In [11]:
models

                               Accuracy  ...  Time Taken
Model                                    ...
BaggingClassifier                  0.77  ...        0.07
Perceptron                         0.70  ...        0.03
LogisticRegression                 0.78  ...        0.05
LinearSVC                          0.78  ...        0.09
CalibratedClassifierCV             0.78  ...        0.17
SGDClassifier                      0.78  ...        0.09
RidgeClassifierCV                  0.78  ...        0.07
RidgeClassifier                    0.78  ...        0.04
LinearDiscriminantAnalysis         0.78  ...        0.07
NearestCentroid                    0.78  ...        0.04
BernoulliNB                        0.77  ...        0.03
ExtraTreesClassifier               0.76  ...        0.18
NuSVC                              0.77  ...        0.07
RandomForestClassifier             0.76  ...        0.23
SVC                                0.77  ...        0.05
KNeighborsClassifier               0.76  ...        0.04
LGBMClassifier                     0.74  ...        0.07
AdaBoostClassifier                 0.74  ...        0.16
XGBClassifier                      0.73  ...        0.21
LabelSpreading                     0.71  ...        0.06
LabelPropagation                   0.71  ...        0.05
ExtraTreeClassifier                0.69  ...        0.03
DecisionTreeClassifier             0.67  ...        0.03
PassiveAggressiveClassifier        0.57  ...        0.03
GaussianNB                         0.35  ...        0.04
QuadraticDiscriminantAnalysis      0.56  ...        0.04
DummyClassifier                    0.55  ...        0.03

[27 rows x 5 columns]

# Titanic Dataset

In [13]:
import seaborn as sns

In [14]:
df=sns.load_dataset('titanic')

In [15]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male 22.00  ...   NaN  Southampton     no  False
1         1       1  female 38.00  ...     C    Cherbourg    yes  False
2         1       3  female 26.00  ...   NaN  Southampton    yes   True
3         1       1  female 35.00  ...     C  Southampton    yes  False
4         0       3    male 35.00  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [16]:
X=df.drop('survived',axis=1)
y=df.iloc[:,0]

In [17]:
X.head()

   pclass     sex   age  sibsp  ...  deck  embark_town alive  alone
0       3    male 22.00      1  ...   NaN  Southampton    no  False
1       1  female 38.00      1  ...     C    Cherbourg   yes  False
2       3  female 26.00      0  ...   NaN  Southampton   yes   True
3       1  female 35.00      1  ...     C  Southampton   yes  False
4       3    male 35.00      0  ...   NaN  Southampton    no   True

[5 rows x 14 columns]

In [18]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.25,random_state =123)

In [20]:
lp_td = LazyClassifier(verbose=0, ignore_warnings=False, custom_metric=None)
models,predictions = lp_td.fit(X_train, X_test, y_train, y_test)

 21%|██        | 6/29 [00:00<00:01, 20.61it/s]

CategoricalNB model failed to execute
Negative values in data passed to CategoricalNB (input X)

100%|██████████| 29/29 [00:01<00:00, 16.78it/s]

StackingClassifier model failed to execute
__init__() missing 1 required positional argument: 'estimators'

In [21]:
print(models)

                               Accuracy  ...  Time Taken
Model                                    ...
AdaBoostClassifier                 1.00  ...        0.04
BaggingClassifier                  1.00  ...        0.05
XGBClassifier                      1.00  ...        0.08
SVC                                1.00  ...        0.06
SGDClassifier                      1.00  ...        0.04
RidgeClassifierCV                  1.00  ...        0.05
RidgeClassifier                    1.00  ...        0.03
RandomForestClassifier             1.00  ...        0.20
Perceptron                         1.00  ...        0.03
PassiveAggressiveClassifier        1.00  ...        0.04
LogisticRegression                 1.00  ...        0.05
LinearSVC                          1.00  ...        0.10
GaussianNB                         1.00  ...        0.04
ExtraTreesClassifier               1.00  ...        0.15
ExtraTreeClassifier                1.00  ...        0.03
DecisionTreeClassifier             1.00  ...        0.03
CalibratedClassifierCV             1.00  ...        0.12
BernoulliNB                        1.00  ...        0.03
LGBMClassifier                     1.00  ...        0.06
NuSVC                              0.99  ...        0.08
KNeighborsClassifier               0.99  ...        0.04
LabelSpreading                     0.98  ...        0.12
LabelPropagation                   0.98  ...        0.07
NearestCentroid                    0.92  ...        0.04
LinearDiscriminantAnalysis         0.84  ...        0.05
DummyClassifier                    0.55  ...        0.03
QuadraticDiscriminantAnalysis      0.62  ...        0.03

[27 rows x 5 columns]

In [22]:
models

                               Accuracy  ...  Time Taken
Model                                    ...
AdaBoostClassifier                 1.00  ...        0.04
BaggingClassifier                  1.00  ...        0.05
XGBClassifier                      1.00  ...        0.08
SVC                                1.00  ...        0.06
SGDClassifier                      1.00  ...        0.04
RidgeClassifierCV                  1.00  ...        0.05
RidgeClassifier                    1.00  ...        0.03
RandomForestClassifier             1.00  ...        0.20
Perceptron                         1.00  ...        0.03
PassiveAggressiveClassifier        1.00  ...        0.04
LogisticRegression                 1.00  ...        0.05
LinearSVC                          1.00  ...        0.10
GaussianNB                         1.00  ...        0.04
ExtraTreesClassifier               1.00  ...        0.15
ExtraTreeClassifier                1.00  ...        0.03
DecisionTreeClassifier             1.00  ...        0.03
CalibratedClassifierCV             1.00  ...        0.12
BernoulliNB                        1.00  ...        0.03
LGBMClassifier                     1.00  ...        0.06
NuSVC                              0.99  ...        0.08
KNeighborsClassifier               0.99  ...        0.04
LabelSpreading                     0.98  ...        0.12
LabelPropagation                   0.98  ...        0.07
NearestCentroid                    0.92  ...        0.04
LinearDiscriminantAnalysis         0.84  ...        0.05
DummyClassifier                    0.55  ...        0.03
QuadraticDiscriminantAnalysis      0.62  ...        0.03

[27 rows x 5 columns]